version: "3.9"

services:
  prometheus:
    container_name: prometheus
    image: "prom/prometheus:latest"
    restart: "unless-stopped"
    volumes: 
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    networks:
      - platform
    ports:
      - "127.0.0.1:9090:9090"
  grafana:
    container_name: grafana
    image: "grafana/grafana:latest"
    restart: "unless-stopped"
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
    networks:
      - platform
    ports:
      - "127.0.0.1:3000:3000"
  node-exporter:
      image: prom/node-exporter:latest
      container_name: node-exporter
      restart: unless-stopped
      pid: host
      volumes:
        - /:/host:ro,rslave
      command:
        - '--path.rootfs=/host'
      networks:
        - platform
  
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    restart: unless-stopped
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    networks:
      - platform

  postgres-exporter:
    image: prometheuscommunity/postgres-exporter:latest
    container_name: postgres-exporter
    restart: unless-stopped
    env_file:
      .env
    networks:
      - platform
  
volumes:
  prometheus_data:
  grafana_data:

networks:
  platform:
    external: true
      